body {
    text-align: center;
    align-items: center;
    background: #7AC5D8;
}

.btn-search {
    margin-top: 15px;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 32px;
    background: #FFB6C1; 
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.5s;
    color: white;
    margin-left: 20px;
    box-shadow: 0 8px 16px rgb(92, 68, 68), 0 6px 20px 0 rgba(29, 29, 29, 0.5);
}

input {
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    box-shadow: inset 12px 12px 12px #cbced1, inset -12px -12px 12px white;
    border: none;
    text-align: center;
    font-size: 20px;
}

.container {
    width: fit-content;
    margin: auto;
    padding: 20px 50px 20px 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 32px;
    background: #FFB6C1; 
    box-shadow: 20px 20px 60px #1b383f, -20px -20px 60px #7AC5D8;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#container > div {
    width: 200px;
    height: 200px;
}

.box {
    background-color: #7AC5D8;
    color: white;
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box img {
    max-width: 20%; 
    max-height: 20%; 
}
